.MuiToolbar-root {
padding-top: 20px;

}

.MuiButtonBase-root, span, .MuiTouchRipple-root{
    margin-bottom: -73px;
}

.Root-container-1 {
margin-left: 0px;
margin-top: 110px;
width: 100px;
}

#calendar-background {
    height: 100%;
    width: 100%;
    background-image: url(./allArtists.jpeg);
    background-position: center;
    background-size: cover;
    position: absolute;  
}

.svg-wrapper {
    height: 90px;
      margin: 0 auto;
    position: absolute;
    top: 9%;
    margin-left: 300px;
    transform: translateY(-50%);
    width: 320px;
  }
.svg-wrapper2 {
    height: 90px;
      margin: 0 auto;
    position: absolute;
    top: 9%;
    margin-left: 600px;
    transform: translateY(-50%);
    width: 320px;
  }
.svg-wrapper3 {
    height: 90px;
      margin: 0 auto;
    position: absolute;
    top: 9%;
    margin-left: 600px;
    transform: translateY(-50%);
    width: 320px;
  }
.svg-wrapper4 {
    height: 90px;
      margin: 0 auto;
    position: absolute;
    top: 9%;
    margin-left: 0px;
    transform: translateY(-50%);
    width: 320px;
  }
  
  .shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #f20962;
  }
  
  .text {
    color: rgb(0, 0, 0);
    font-family: 'Roboto Condensed';
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
    left: 110px;
  }
  
  @keyframes draw {
    0% {
      stroke-dasharray: 140 540;
      stroke-dashoffset: -474;
      stroke-width: 8px;
    }
    100% {
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
      stroke-width: 2px;
    }
  }
  
  .svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }
  .svg-wrapper2:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }
  .svg-wrapper3:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }