
  #background{
    height: 100%;
    width: 100%;
    background-image: url(./allArtists.jpeg);
    background-position: center;
    background-size: cover;
    position: absolute;  
  }

    #card-img1{
      width: 290px;
      margin-left: 38px;
    }
    
    #card-img2{
      width: 290px;
      height: 168px;
    }

    #card1{
      height: 56%;
      padding-right: 40px;
      margin-left: 490px;
    }
    #card2{
      height: 32.7%;
      padding-right: 40px;
      margin-left: 1000px;
      margin-top: -338px;
    }

    #card1-button{
      top: 0;
      left: 0;
      position: absolute;
      width: 60px;
      height: 100%;
      background: linear-gradient(to left, rgba(2,0,36,1) 0%, rgba(129,237,255,1) 0%, rgba(0,168,255,1) 100%);
    }
    #card2-button{
      top: 0;
      right: 0;
      position: absolute;
      width: 60px;
      height: 100%;
      background: linear-gradient(to left,rgba(2,0,36,1) 0%, rgba(255,0,121,1) 0%, rgba(255,0,0,1) 100%);
    }

    #card-title{
      font-size: xx-large;
      padding-left: 100px;
      margin-left: -20px;
      padding-top: 12px;
    }
    #card-title2{
      font-size: xx-large;
      padding-left: 50px;
      padding-top: 12px;

    }

    #card-text{
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 50px;
      margin-left: 35px;
      width: 80%;
    }

    #card2-text{
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 50px;
      margin-left: 0px;
      width: 75%;
    }